<!DOCTYPE html>
<html lang="en">
  <%- include('includes/header') %>
  <body>
    <div style="font-size: large">Users</div>
    <div>
      <% users.map((value, key) => { %>
      <p><%= value.memberNick %></p>
      <% }) %>
    </div>
  </body>
  <%- include('includes/footer') %>
</html>